argparse==1.2.1
audioread==2.1.2
cycler==0.10.0
matplotlib==1.5.1
numpy==1.10.4
pyacoustid==1.1.0
pydub==0.16.3
pyparsing==2.1.0
python-dateutil==2.5.0
pytz==2016.1
requests==2.9.1
scipy==0.17.0
six==1.10.0
wsgiref==0.1.2
